body{
    margin: 0;
    height: auto;
}

.input-label {
    font-size: 15px;
    color: #333;
    margin-right: 10px;
    white-space: nowrap;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}
